[Unit]
Description=Controller for mdraid check process

[Service]
Environment="RUST_LOG=error"
X-RestartIfChanged=false
ExecStart=/path/to/mdcheck-ng /path/to/mdcheck-ng.toml
Type=oneshot
User=root
WorkingDirectory=/var/lib/mdcheck-ng
