name: Rust

on:
  push:
    branches: [ "main" ]

permissions:
  contents: "write"
  id-token: write

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      matrix:
        target:
        - "default"
        - "pkgsCross.aarch64-multiplatform-musl.pkgsStatic.mdcheck-ng"

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: DeterminateSystems/nix-installer-action@main
    - run: nix build .#${{ matrix.target }}
    - run: |
        cp --no-preserve=all result/bin/mdcheck-ng ./
        system=$(nix eval --raw .#${{ matrix.target }}.stdenv.hostPlatform.system)
        tar jcf mdcheck-ng-${system}.tar.bz2 mdcheck-ng mdcheck-ng.toml
    - uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.target }}
        path: mdcheck-ng-*.tar.bz2
        if-no-files-found: error

  release:
    needs: [ build ]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/download-artifact@v4
      with:
        merge-multiple: true
    - if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        set -x
        gh release delete latest --cleanup-tag || true
        gh release create latest \
          mdcheck-ng-*.tar.bz2 \
          --title "Latest build"
